{%load static%}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обо мне</title>
</head>
<body>
    <h1>Hello world</h1>
    <h2>Hello world</h2>
    <h3>Hello world</h3>
    <h4>Hello world</h4>
    <h5>Hello world</h5>
    <h6>Hello world</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius modi ducimus vero aliquid dolor est. Enim sit, corporis optio odit aperiam a in vel totam ab rem hic. Deserunt aspernatur officiis est sint alias eos! Hic nobis cum eum? Cum velit repellat vero iure amet fugiat similique facilis cupiditate aspernatur pariatur, ea id, tempora provident?</p>
    <span>span</span>
    <b>big text</b>
    <i>Cursive text</i>
    <a href="{%url '2' %}">link</a>
    <img src="{%static 'images/img1.jpeg'%}" alt="dafesfa">

</body>
</html>