{%load static%}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обо мне</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{%static 'images/img1.jpeg'%}" type="image/x-icon">
</head>
<body>
    <!-- <h1>Hello world</h1>
    <h2>Hello world</h2>
    <h3>Hello world</h3>
    <h4>Hello world</h4>
    <h5>Hello world</h5>
    <h6>Hello world</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius modi ducimus vero aliquid dolor est. Enim sit, corporis optio odit aperiam a in vel totam ab rem hic. Deserunt aspernatur officiis est sint alias eos! Hic nobis cum eum? Cum velit repellat vero iure amet fugiat similique facilis cupiditate aspernatur pariatur, ea id, tempora provident?</p>
    <span>span</span>
    <b>big text</b>
    <i>Cursive text</i>
    <a href="{%url '2' %}">link</a>
    <img src="{%static 'images/img1.jpeg'%}" alt="dafesfa"> -->
    {%for i in people%}
        <div>
            <h1>{{i.full_name}}</h1>
            <p>
                Дата рождение: {{i.date_of_birthday}}
                О себе: {{i.description}}
            </p>
        </div>
    {%endfor%}
        
</body>
</html>

<!-- 
    !Задание 
    ! I создать Класс Student c полями:
    ! 1 Имя
    ! 2 Направление
    ! 3 Какой месяц
    !II Зарегестрировать класс в admin.py
    !III Добавить 5 учеников через админ панель
    !IV Вывести этих учеников в index.html
 -->